## Data modules
*.csv
*.sqlite3
*.db

## Django-build modules
*.po
*.mo

## dev environment modules
*.pyc
platform/virtualenv/
pipeline/venv/
pipeline/downloads/
data/
Collector/
client/
models/
pipeline/
platform/
venv/
